/* Fonts */

$primary-font: 'Montserrat', sans-serif;

/* Colors */

$primary-color: #518764;
$secondary-color: #FF9900;
$terciary-color: #F5F5F5;

$text-color: #333;

$header-top-link-color: #fff;

$hero-text-color: #fff;
$hero-link-color: #fff;

$form-text-color: #333;
$form-border-color: #333;

$form-text-white-color: #fff;
$form-border-white-color: #fff;

$form-button-bg-dark-color: #252626;
$form-button-border-dark-color: #252626;

$footer-divider-color: #d1d1d1;
$footer-link-color: rgba(51, 51, 51, .8);
$footer-link-color-hover: #333;